@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.main-container{
    font-family: "Open Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-weight: 500 !important;
}


/* colors */
:root{
    --blue-color: #162938;
    --black-color:#16191a;
}

/* colors */

/* box sizings */
*{
    box-sizing: border-box;
}
/* box sizings */

/* container padding */
.padding70{
    padding: 70px;
}
/* container padding */


/* buttons */
.main-button{
    font-family: "Open Sans", sans-serif;
    background-color: var(--blue-color);
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    min-width: 150px;
    outline: none;
    padding: 12px 2.3px;
    text-align: center;
    text-decoration: none;
    transition:0.3s ease;
}

.main-button:hover{
    color: var(--black-color);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
/* buttons */


/* titles */
.title{
    width: max-content;
    padding: 10px;
    color: var(--black-color);
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    cursor: default;
    transition: 0.2s;
    margin: auto;
}

.title::before{
    content: '';
    position: absolute;
    background-color: var(--blue-color);
    width: 0;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: width 0.2s;
}

.title:hover{
    color: white;
}

.title:hover::before{
    width: 100%;
}
/* titles */


.settings-nav #active{
    border-bottom: 3px solid var(--blue-color);
}


.settings-body .form .button{
    padding: 2px 15px;
    width: 100px;
    height: 25px;
    background-color: var(--blue-color);
    outline: 3px var(--blue-color) solid;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 200ms;
    color: white;
    font-size: 14px;
    font-weight: 500;
  }

  .settings-body .form .button:hover{
    background: transparent;
    color: var(--black-color);
  }



.pfp .button:hover{
    background: transparent;
    color: white;
}

.settings-container .appearance .themes .active{
    border: 2px solid var(--blue-color);
}




.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--blue-color);
    font-size: 1.5em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}


.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--blue-color);
    line-height: 57px;
}

.remember-forgot label input {
    margin-right: 3px;
    accent-color: var(--blue-color); /*means if you want to change the icon of cheack*/
}

.img-buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.services .box-container .box i {
    padding: 16px;
    font-size: 80px;
    color: var(--blue-color);
}

.services .box-container .box h3::selection {
    background-color: #162938;
    color: white;
}

.services .box-container .box p::selection {
    background-color: #162938;
    color: white;
}


.gallery .box-container .box .content h3 {
    font-size: 32px;
    color:rgb(241, 213, 51);
}

.gallery .box-container .box .content p {
    font-size: 24px;
    color: #eee;
    padding: 8px 0 ;
}