@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

.main-container{
    font-family: "Signika Negative", sans-serif !important;

}


/* colors */
:root{
    --green-color:#40B3A2;
    --black-color:rgb(0, 0, 0);
}

/* colors */

/* buttons */
.main-button{
    font-family: "Signika Negative", sans-serif;
    background-color: var(--green-color);
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    color:#fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-width: 150px;
    outline: none;
    padding: 12px 2.3px;
    text-align: center;
    text-decoration: none;
    transition:0.3s ease;
}

.main-button:hover{
    color: var(--black-color);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
/* buttons */

/* box sizings */
*{
    box-sizing: border-box;
}
/* box sizings */


/* container padding */
.padding70{
    padding: 70px;
}
/* container padding */



/* titles */
.title{
    width: max-content;
    padding: 10px;
    color: var(--black-color);
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    cursor: default;
    transition: 0.2s;
    margin: auto;
}

.title::before{
    content: '';
    position: absolute;
    background-color: var(--green-color);
    width: 0;
    height: 10%;
    z-index: -1;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    transition: width 0.2s;
}



.title:hover::before{
    width: calc(100% - 30px)
}
/* titles */

.settings-nav #active{
    border-bottom: 3px solid var(--green-color);
}

.settings-body .form .button{
    padding: 2px 15px;
    width: 100px;
    height: 25px;
    background-color: var(--green-color);
    outline: 3px var(--green-color) solid;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 200ms;
    color: white;
    font-size: 14px;
    font-weight: 500;
  }

  .settings-body .form .button:hover{
    background: transparent;
    color: var(--black-color);
  }


  .pfp .button{
    padding: 2px 15px;
    width: 100px;
    height: 25px;
    background-color: var(--green-color);
    outline: 3px var(--green-color) solid;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 200ms;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.pfp .button:hover{
    background: transparent;
    color: var(--black-color);
}


.settings-container .appearance .themes .active{
    border: 2px solid var(--green-color);
}



.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--green-color);
    font-size: 1.5em;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.img-buttons{
    display: flex;
    gap: 8px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--green-color);
    line-height: 57px;
}

.remember-forgot label input {
    margin-right: 3px;
    accent-color: var(--green-color); /*means if you want to change the icon of cheack*/
}

.services .box-container .box i {
    padding: 16px;
    font-size: 80px;
    color: var(--green-color);
}

.services .box-container .box h3::selection {
    background-color: var(--green-color);
    color: white;
}

.services .box-container .box p::selection {
    background-color: var(--green-color);
    color: white;
}


.gallery .box-container .box .content h3 {
    font-size: 32px;
    color: var(--green-color);
}

.gallery .box-container .box .content p {
    font-size: 24px;
    color: #eee;
    padding: 8px 0 ;
}